body {
    margin: 18px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    background-color: #444;
}

p {
    color: #cfc;
    font-family: 'Inconsolata', monospace;
}

form {
    color: #cfc;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin-top: 6px;
}

form input {
    background-color: #444;
    border: 1px solid #777;
    color: #cfc;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

#console {
    display: block;
    width: 60%;
    height: 900px;
    float: left;
    overflow-y: auto;
}

#console-output {
    overflow-y: auto;
}

#chat-output {
    display: block;
    float: left;
    width: 30%;
    min-width: 250px;
    padding: 0px 0px 0px 30px;
    height: 900px;
    overflow-y: auto;
}

pre {
    margin: 0px;
    padding: 0px;
    display: inline;
}

pre.stderr {
    color: #fcc;
}

pre.stdout {
    color: white;
}

pre.stdin {
    color: #cfc;
}

font.Yellow { color: LemonChiffon; }
font.Magenta { color: HotPink; }
font.Cyan { color: LightSteelBlue; }
font.White { color: white; }
font.Blue { color: LightSkyBlue; }
font.Red { color: IndianRed; }
font.Green { color: GreenYellow; }
